@use 'design-system/colors';
@use '../styles/globals.scss';
@use 'design-system/typography/styles';
@use 'design-system/typography/weights';

@keyframes flicker {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    filter: drop-shadow(0 0 1px rgba(252, 211, 77)) drop-shadow(0 0 15px rgba(245, 158, 11)) drop-shadow(0 0 1px rgba(252, 211, 77));
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    filter: none;
  }
}

.not.found.page.wrapper {
  section {
    background-color: colors.$white;

    div {
      @include globals.layout;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: colors.$black;

      svg.siren {
        animation: flicker 3s linear infinite;
        color: colors.$error-500;
        width: 60px;
        height: 60px;
      }

      h1 {
        margin: 32px 0 16px;
        @include styles.display-xl;
      }
    }
  }
}