@use 'design-system/typography/styles';
@use 'design-system/typography/weights';
@use 'design-system/colors';

// .wallet.modal.content.wrapper {
.wallet.modal.DialogContent {
  margin: 0 auto;
  max-width: 400px;
  min-width: 200px;
  padding: 24px !important;

  .DialogTitle .title {
    .wallet.icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      color: colors.$primary-600;
      background-color: colors.$primary-100;
      width: max-content;
      border-radius: 50%;
      box-shadow: 0 0 0 8px colors.$primary-50;
      margin-bottom: 22px;

      svg {
        height: 24px;
        width: 24px;
      }
    }

    h1 {
      margin-top: 16px;
      color: colors.$gray-800;
      @include styles.text-lg;
      @include weights.semibold;
    }
  }

  button.IconButton[aria-label='Close'] {
    padding: 6px;
    top: 16px !important;
    right: 16px !important;
    background-color: transparent;
  }

  div.description {

    p {
      margin: 4px 0 32px;
      @include styles.text-sm;
      color: colors.$gray-600;

      a {
        color: inherit;
        text-decoration: underline;

        &:hover {
          color: colors.$primary-600;
        }
      }
    }
  }

  button.wallet {
    position: relative;
    margin-top: 32px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    padding: 10px 18px;

    border: 1px solid colors.$gray-300;
    background-color: colors.$base-white;
    color: colors.$gray-700;

    @include styles.text-md;
    @include weights.semibold;

    &:focus,
    &:hover {
      border-color: colors.$blue-dark-500;
    }
  }
}