@use 'design-system/colors';
@use 'design-system/shadows';
@use 'design-system/typography/styles';
@use 'design-system/typography/weights';

div.pagination.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    border: none;
    cursor: pointer;
  }

  button.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: transparent;

    border-radius: 8px;
    border: 1px solid colors.$gray-300;
    padding: 8px 14px;
    @include styles.text-sm;
    @include weights.semibold;
    color: colors.$gray-700;

    &:disabled {
      cursor: not-allowed;
      color: colors.$gray-300;
    }
  }

  div.pages {
    display: flex;
    gap: 4px;

    span.dots {
      align-self: center;
    }

    button.page {
      background-color: transparent;
      display: flex;
      height: 40px;
      width: 40px;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      padding: 12px;
      @include styles.text-sm;
      color: colors.$gray-800;

      &.active {
        background-color: colors.$gray-50;
        color: colors.$gray-600;
      }
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}